node_modules/
.next/
.expo/
dist/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Build
android/
ios/
web-build/

#files
*.log   
*.md
